.main-container {
    width: 1000px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
    background-color: rgb(233,233,233);
}
.top-container {
    width: 100%;
    height: fit-content;
}
.spinner {
    width: 100%;
    height: 90px;
    background: transparent url(https://totallynottg.github.io/web.decblox/images.dcblx.com/loadingforabout.gif) no-repeat center;
    background-size: 8%;
}    
.pfp-container {
    width: 500px;
    height: fit-content;
    display: flex;
}
.pfp {
    height: 100px;
    border-radius: 100px;
    background-color: rgb(200,200,200);
}
.ssl-player-username {
    margin-left: 20px;
    margin-left: 10px;
}
.ad {
    width: 100%;
    height: 100px;
    background-color: rgb(200,200,200);
    margin-top: 50px;
}
.games-link {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(0,255,100);
    cursor: pointer;
}
.featured-games-section {
    width: 100%;
    height: fit-content;
}
.featured {
    width: 500px;
    height: fit-content;
    background-color: rgb(200,200,200);
}
.ft-game-img {
    height: 200px;
}
.play {
    width: 100px;
    height: 34px;
    background: rgb(0, 128, 255) url(http://images.rbxcdn.com/149e8aed68b5902254193cdc9923f024.png) no-repeat top;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
}
.play:hover {
    background: rgb(0, 128, 255) url(http://images.rbxcdn.com/149e8aed68b5902254193cdc9923f024.png) no-repeat bottom;
}
.ad-section {
    width: 480px;
    height: fit-content;
    margin-top: -570px;
    margin-left: auto;
}
.side-ad {
    margin-left: 100px;
    width: 200px;
    height: 500px;
    background-color: rgb(200,200,200);
}
.games-real-section {
    display: flex;
    width: 100%;
    height: 241px;
}
.game-card {
    width: 150px;
    height: 241px;
    margin-left: 10px;
    background-color: rgb(255,255,255);
    border-radius: 3px;
    box-shadow: 0 20px 15px -20px rgba(0,0,0,.5);
    cursor: pointer;
    transition: box-shadow 0.1s;
}
.game-card:hover {
    box-shadow: 0 20px 15px -0px rgba(0,0,0,.5);
}
.left-nav {
    width: 150px;
    height: 800px;
    border-right: 0.25px solid rgb(200,200,200);
}
.browse-by-category {
    width: 136px;
    height: 34px;
    background: #ffff url(https://totallynottg.github.io/web.decblox/images.dcblx.com/btn-browse_categories.png) no-repeat top;
}
.dropdown {
    width: 135px;
    height: fit-content;
    border: 0.25px solid rgb(50,50,50);
}
.main-catalog-container {
    width: 840px;
    height: fit-content;
    margin-top: -820px;
    margin-left: 160px;
}
.catalog-item {
    width: 198px;
    height: fit-content;
    border: 0.25px solid rgb(200,200,200);
}
.catalog-img {
    width: 198px;
}
.db {
    color: rgb(0,200,100);
}
.top-shop-container {
    width: 100%;
    height: fit-content;
}
/*GAME CSS*/
.game-container {
    width: 100%;
    height: fit-content;
    background-color: rgb(233,233,233);
}
.includes-gamecard-title {
    width: 600px;
}
.game-img {
    height: 200px;
    width: 355.55px;
}
.play-btn {
    width: 110px;
    height: 48px;
    background: #17e078 url(http://www.roblox.com/images/Buttons/StyleGuide/bg-lg-green-play.png) no-repeat top left;
    margin-left: 20px;
    margin-top: 50px;
    cursor: pointer;
}
.play-btn:hover {
    background: #17e078 url(http://www.roblox.com/images/Buttons/StyleGuide/bg-lg-green-play.png) no-repeat bottom left;
}
.ssl-play-text {
    font-weight: 600;
    color:white;
    font-size: 24px;
    margin-left: 55px;
    margin-top: 10px;
    position: absolute;
}
/*..*/
/*DEVELOP*/
.develop-section {
    width: 100%;
    height: fit-content;
}
.main-dev-top {
    width: 700px;
    background-color: rgb(233,233,233);
    display: flex;
    height: 40.4px;
}
.dev-pages {
    height: 100%;
    width: fit-content;
    background-color: rgb(244,244,244);
    border: 0px;
    margin-left: 10px;
    cursor: pointer;
}
.dev-pages:hover {
    height: 43px;
}
.side-nav {
    width: 150px;
    height: fit-content;
    border-right: 0.5px solid rgb(200,200,200);
}
.enabled {
    display: block;
}
.my-creations-pages {
    width: 100%;
    height: 37.4px;
    border: 0px;
    background-color: rgb(255,255,255);
    cursor: pointer;
}
.my-creations-pages:hover {
    background-color: rgb(244,244,244);
}
.pg-activated {
    border: 0.5px solid rgb(200,200,200);
}
.main-creations-tab {
    width: 840px;
    height: fit-content;
    margin-left: 160px;
    margin-top: -140px;
}
.create-game-btn {
    width: 165px;
    height: 27px;
    background: rgb(0,200,100) url(https://totallynottg.github.io/web.decblox/images.dcblx.com/create-new_btn.png) no-repeat center;
    cursor: pointer;
}
.ssl-gamesdev-text {
    font-weight: 500;
}
.text-w_textbox {
    display: flex;
}
.main-gms-area {
    width: 100%;
}
.created-game {
    display: flex;
}
.cg-txt-gm-nm {
    margin-left: 10px;
    border-bottom: 0.5px solid rgb(200,200,200);
}
.public {
    color: rgb(4, 167, 88);
}
.option-bundle {
    width: 100%;
    height: fit-content;
    border: 1px solid rgb(60,60,60);
    background-color: rgb(222,222,222);
}
.lib-option {
    width: 100%;
    height: 37.4px;
    border: 0px;
    background-color: rgb(222,222,222);
    cursor: pointer;
}
.lib-option:hover {
    background-color: rgb(215,215,215);
}
.main-lib {
    width: 840px;
    height: fit-content;
    margin-left: 160px;
    margin-top: -230px;
}
.search-bar {
    width: 400px;
    height: 37px;
}
.search-area {
    display: flex;
}
.search-btn {
    width: 85px;
    margin-left: 20px;
    height: 40px;
    border: 2px solid rgb(200,200,200);
    cursor: pointer;
    background: #bebebe url(https://totallynottg.github.io/web.decblox/images.dcblx.com/search_btn.png) no-repeat center;
}
.lib-models {
    width: 100%;
    height: fit-content;
}
.ssl-blue-text {
    color: #23628a;
    font-weight: 500;
}
.lib-models {
    width: 190px;
    height: fit-content;
    margin-left: 5px;
}
.dev-spinner {
    width: 300px;
    margin-top: -100px;
    height: 20px;
    background: transparent url(https://totallynottg.github.io/web.decblox/images.dcblx.com/devspinner.gif) no-repeat center;
}
.my-creations-tab {
    
}
/**/
/*Friends List*/
.friends-list {
    width: 100%;
    height: fit-content;
    background-color: white;
}
.hide-controlled {
    display: none;
}
.main-list {
    display: flex;
}
/*.....*/
/*NEW Catalog Design!*/
.dropdown {
    border: 0px;
}
.all-ft::marker {
    width: 0px;
    height: 0px;
}
.catalog-item {
    background-color: rgb(250,250,250);
    border: 0px;
    margin-left: 10px;
    border-radius: 3px;
    box-shadow: 0 20px 15px -20px rgba(0,0,0,.5);
    cursor: pointer;
    transition: box-shadow 0.1s;
}
.catalog-img {
    background-color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.catalog-item:hover {
    box-shadow: 0 20px 15px -0px rgba(0,0,0,.5);
}
/**/
/*NEW GAME CSS*/
.game-img {
    width: 680px;
    height: fit-content;
}
.game-play-action {
    width: 300px;
    height: fit-content;
    margin-left: 690px;
    position: absolute;
}
.includes-gamecard-title {
    width: 100%;
}
.made-by:hover {
    border-bottom: 2px solid rgb(0,200,255);
}
.ssl-play-text {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzIiIGhlaWdodD0iNzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGQ9Ik0xOSA4LjVsMTEuOTI1IDE2LjAzNmMuODUxIDEgLjc0NSAyLjUxMi0uMjM3IDMuMzc5YTIuMzMgMi4zMyAwIDAgMS0xLjU0Mi41ODVIOC44NTRjLTEuMyAwLTIuMzU0LTEuMDczLTIuMzU0LTIuMzk1IDAtLjU3Ny4yMDQtMS4xMzQuNTc1LTEuNTdMMTkgOC41eiIgaWQ9ImEiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48dXNlIGZpbGw9IiNGRkYiIHRyYW5zZm9ybT0icm90YXRlKDkwIDE5IDE4LjUpIiB4bGluazpocmVmPSIjYSIvPjxwYXRoIGQ9Ik0xOCA3MkM4LjA1OSA3MiAwIDYzLjk0MSAwIDU0czguMDU5LTE4IDE4LTE4IDE4IDguMDU5IDE4IDE4LTguMDU5IDE4LTE4IDE4em03LjYtMTcuNjk1bC05LjQ2LTcuMTZhMS40MTMgMS40MTMgMCAwIDAtMi4zNCAxLjA2OHYxMi4xODRhMS40MTMgMS40MTMgMCAwIDAgMi4zNCAxLjA2OGw5LjQ2LTcuMTZ6IiBmaWxsLW9wYWNpdHk9Ii45IiBmaWxsPSIjRkZGIi8+PC9nPjwvc3ZnPg==) no-repeat top left;
    background-size: 95px;
    height: 46px;
    width: 46px;
    margin-left: 110px;
    position: absolute;
}
.play-btn {
    width: 280px;
    background-color: #00b06f;
    border-radius: 5px;
    margin-top: 150px;
}
.like-dislike-ratio {
    width: 100%;
    height: fit-content;
    display: flex;
}
.op {
    margin-left: 10px;
}
.favorite {
    width: 28px;
    height: 28px;
    background: transparent url(https://images.rbxcdn.com/6d89a812844283096c6c39935f02483d-branded_04182018.svg) no-repeat;
    background-position-y: -83px;
    margin-left: 10px;
    cursor: pointer;
}
.favorite:hover {
    width: 28px;
    height: 28px;
    background: transparent url(https://images.rbxcdn.com/6d89a812844283096c6c39935f02483d-branded_04182018.svg) no-repeat;
    background-position-y: -83px;
    background-position-x: -28px;
    margin-left: 10px;
    cursor: pointer;
}
.follow {
    width: 28px;
    height: 28px;
    background: transparent url(https://images.rbxcdn.com/6d89a812844283096c6c39935f02483d-branded_04182018.svg) no-repeat;
    background-position-y: -250px;
    margin-left: 10px;
    cursor: pointer;
}
.follow:hover {
    width: 28px;
    height: 28px;
    background: transparent url(https://images.rbxcdn.com/6d89a812844283096c6c39935f02483d-branded_04182018.svg) no-repeat;
    background-position-y: -250px;
    background-position-x: -28px;
    margin-left: 10px;
    cursor: pointer;
}
.like {
    width: 28px;
    height: 28px;
    background: transparent url(https://images.rbxcdn.com/d76ac184081a4d2969061c60861cd1fe-games.svg) no-repeat;
    background-position-y: -82px;
    margin-left: 10px;
    cursor: pointer;
}
.like:hover {
    width: 28px;
    height: 28px;
    background: transparent url(https://images.rbxcdn.com/d76ac184081a4d2969061c60861cd1fe-games.svg) no-repeat;
    background-position-y: -82px;
    background-position-x: -28px;
    margin-left: 10px;
    cursor: pointer;
}
.dislike {
    width: 28px;
    height: 28px;
    background: transparent url(https://images.rbxcdn.com/d76ac184081a4d2969061c60861cd1fe-games.svg) no-repeat;
    background-position-y: -110px;
    margin-left: 10px;
    cursor: pointer;
}
.dislike:hover {
    width: 28px;
    height: 28px;
    background: transparent url(https://images.rbxcdn.com/d76ac184081a4d2969061c60861cd1fe-games.svg) no-repeat;
    background-position-y: -110px;
    background-position-x: -28px;
    margin-left: 10px;
    cursor: pointer;
}
/**/
