.top-nav {
    background-color: #dee1e3;
    border-bottom: 0.5px solid rgb(210,210,210);
}
.pages {
    color: rgb(50,50,50);
    font-size: 15px;
    font-weight: 500;
    width: 100px;
}
.logo {
    height: 35px;
    width: 35px;
    background:  url(https://totallynottg.github.io/web.decblox/images.dcblx.com/Icon23.png) no-repeat center;
    background-size: 100%;
    margin-left: 40px;
}
.hover:hover {
    border-bottom: 2px solid rgb(50,50,50);
    background-color: #dee1e3;
    border-radius: 0px;
}
.renamed-vis {
    display: inline-block;
}
.renamed-control {
    display: none;
}
